.bbis-installation-cert-logo {
    height:150px;
    width:auto;
    text-align:center;
    margin:0 auto;
}

.bbis-inst-cert-vehicle-table {
    width:100%;
    font-size:11pt;
    margin:20px 0;
}

.bbis-inst-cert-vehicle-table th, .bbis-inst-cert-vehicle-table td {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}

.bbis-inst-cert-vehicle-table th {
    background: #f05a29;
    color: #ffffff;
}

.bbis-inst-cert-element-space {
    margin:30px 0
}

.bbis-inst-cert-colon {
    padding:0 10px;
}

.bbis-inst-cert-sign {
    position:absolute;
    margin-top:60px;
    left:0px;
    z-index:10;
    width:auto;
}

.bbis-inst-cert-seal {
    display:block;
    margin-top:10px;
    position:absolute;
    z-index:-1;
}

.bbis-inst-cert-signatory {
    font-size:13pt;
    position:relative;
}

.bbis-footer-social-link-ul-inst-cert {
  text-align:center;
  margin-top:10px;

  li {
    margin-right: 4px;
    padding:0;

    &:last-child {
      margin-right: 0;
    }
  }
  li img {
    height: 15px;
    width: auto;
    margin:0;
    margin-top:-4px;
  }

  li span {
    font-size: 7pt;
  }
}