.bbis-company-header {
  display: block;
}

.bbis-company-logo {
  display: inline-block;
  vertical-align: middle;
}

.bbis-company-details {
  float: right;
  text-align: right;
  vertical-align: middle;
  margin-top: 10px;
}

.bbis-report-header-table td {
  padding: 2px 0;
}

.bbis-tax-invoice-table th {
  padding: 7px 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  font-size: 10pt;
}

.bbis-tax-invoice-table td {
  padding: 7px 10px;
  border: 1px solid #ccc;
  font-size: 10.5pt;
}

.bbis-tax-invoice-computation td {
  padding: 2px 0;
}

.bbis-tax-invoice-remarks {
  border: 1px solid #cccccc;
  margin-bottom: 7px;
  margin-top: 80px;
  width: 70%;
  padding: 10px;
}

.bbis-tax-invoice-declaration {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  width: 70%;
  padding: 9px;
}

.bbis-report-stamp-sign {
  position: absolute;
  right: 0;
  margin-top: -140px;
  mix-blend-mode: multiply;
  z-index:-1;
}

.bbis-tax-invoice-seal {
  width: 280px;
  position: absolute;
  right: 0;
  margin-top: -120px;
  z-index:-2;
}

.bbis-tax-invoice-sign {
//   width: 120px;
  position: absolute;
  right: 260px;
  margin-top: -40px;
  z-index: 10;
}

.bbis-bank-details-td {
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 10pt;
  width: 450px;
}

.bbis-report-vehicle-details {
  width: 100%;
}

.bbis-report-vehicle-details th {
  padding: 7px 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  font-size: 10pt;
}

.bbis-report-vehicle-details td {
  padding: 7px 10px;
  border: 1px solid #ccc;
  font-size: 10.5pt;
}

.bbis-table-header {
  background: #f05a29;
  padding: 3px;
  color: #fff;
  text-align: center;
}